* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
.body {
    height: 100vh;
    background: rgb(139, 139, 139);
}
.slider__container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.slider__track {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s all ease-out;
    width: 100%;
    height: 100%;
}
.slider__item {
    box-shadow: 0 0 10px 4px rgb(212, 235, 243), inset 0 0 5px 3px rgb(208, 229, 236);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(111, 177, 207);
    position: relative;
}
.slider__item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.slider__item__count {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 2em;
    border-radius: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    background: white;
    border: 1px solid gray;
}
.wrapper__btns {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2em;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}
.btn__big {
    width: 6em;
}
.btn__small {
    width: 4em;
    line-height: 3em;
}
.btn:hover,
.btn:focus {
    box-shadow: 0 0 10px 2px white, inset 0 0 10px 2px white;
    transition: 0.1s all ease-in;
}
.btn:active {
    box-shadow: 0 0 10px 4px gray, inset 0 0 10px 4px gray;
    transition: 0.1s all ease-in;
    color: white;
}
.input__style {
    transition: 0.1s all ease-in;
}
.countBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}
.countTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    text-align: center;
}
.slidesCount {

}
.countBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

@media screen and (max-width: 768px) {
    .wrapper__btns {
        bottom: 0;
        width: 100%;
        flex-direction: row;
        gap: 0.2em;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }
    .wrapper__btns {
        display: flex;
        gap: 0.2em;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }
    .btn__big {
        width: 3em;
    }
    .btn__small {
        width: 3em;
        line-height: 2em;
    }
    .countTitle {
        font-size: 0.9em;
    }
    .countBtns {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4em;
    }
    
}

@media screen and (orientation: landscape) {
    .wrapper__btns {
        height: 100vh;
        width: 100px;
        right: 0;
        bottom: 0;
        left: auto;
        transform: none;
        flex-direction: column;
        margin: 0;
        gap: 0.2em;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .btn__big {
        width: 6em;
        height: 4em;
    }
    .btn__small {
        width: 2em;
        line-height: 2em;
    }
    .countBlock {
        background: rgba(0,0,0,0.4);
        border-radius: 4px;
        padding: 10px 4px;
    }
    .countTitle {
        font-size: 0.9em;
        color: white;
    }
    .countBtns {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4em;
    }

}